/* HeroDetailComponent's private CSS styles */
label {
  color: rgb(250, 208, 208);
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  color: aliceblue;
  margin-top: 20px;
  margin-right: .5rem;
  background-color: rgb(56, 55, 55);
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #dd8f85;
}
button:disabled {
  background-color: rgb(238, 133, 133);
  color: rgb(243, 235, 235);
  cursor: auto;
}
.name{
  color: rgb(250, 208, 208);
}
h2{
  color: aliceblue;
}